.heigth100{
    height: 100%;
}
.heigthFix{
    height: 83%;
}
iframe{
    border: none;
}

.fullIframe{
    width: 100%;
}
.navbar-default .navbar-brand{
    color: green;
}
.navbar-default .navbar-brand:hover {
    color: lightgreen;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav>li>a {
        border-bottom: 1px dashed green;
    }
    .heigthFix{
        /*height: 65%;*/
    }
    .visible-xs.collapse {
        display: none!important;
    }

}
iframe .c3{
    margin: 0;
}
.banner{
    background: #fefefe;
    text-align: center;
}